a.common,
button.common,
button.popup-button,
input.common,
summary.common,
textarea.common,
div.common {
  padding-top:6px;
  margin-top:8px;
  padding-bottom:6px;
  margin-bottom:8px;
}

details.ver-up,
div.ver-up {
  padding-top:8px;
  margin-top:12px;
}

details.ver-down,
div.ver-down {
  padding-bottom:8px;
  margin-bottom:12px;
}

a.common,
button.common,
button.popup-button,
input.common,
div.common,
textarea.common {
  padding-left:12px;
  padding-right:12px;
  background-color:white;
  color:black;
}

a.common,
textarea.common,
input.common,
button.common,
button.popup-button {border:2px solid black;}

a.common:disabled,
button.common:disabled,
button.popup-button:disabled {
  background-color: gray;
  cursor:not-allowed;
}

a.common:link,
a.common:visited {
  text-decoration: none;
  text-align: center;
}

a.common,
button.common,
button.popup-button {
  background-color:white;
  color:black;
  cursor:pointer;
}

a.common:hover,
button.common:hover,
button.popup-button:hover {
  background-color: #0074E8;
  border:2px solid #0074E8;
  color:white;
  cursor:pointer;
}

a.common:active,
button.common:active,
button.popup-button:active {
  background-color: white;
  border:2px solid #0074E8;
  color:#0074E8;
}

button.danger:hover {
  border:2px solid red;
  background-color: red;
}

button.danger:active {
  border:2px solid red;
  background-color: white;
  color: red;
}

div.common {border:1px solid black;}

label.common,
textarea.common {display:block;}

div.horizontal {
  display:inline-block;
  margin-right:16px;
}

div.popup-content {
  padding:16px;
  text-align:center;
}
