div.common,
button.common,
button.popup-button,
input.common,
textarea.common {
  padding-top:6px;
  padding-bottom:6px;
  padding-left:12px;
  padding-right:12px;
  margin-bottom:8px;
  margin-top:8px;
}

a.common {
  text-decoration: none;
  padding-top:4px;
  padding-bottom:4px;
  padding-left:24px;
  padding-right:24px;
}

button.common,
div.common,
input.common,
textarea.common {
  background-color:white;
  color:black;
}

div.common {border:1px solid black;}

label.common,
textarea.common {display:block;}

textarea.common,
input.common,
a.common,
button.common,
button.popup-button {
  border:2px solid black;
}

a.common,a:not(.disabled),a:visited,
button.common,button:not(.disabled),
button.popup-button, {
  background-color:black;
  color:white;
  cursor:pointer;
}

a.disabled
button.disabled
button.disabled {
  border:2px solid gray;
  background-color:gray;
  color: black;
  cursor:not-allowed;
}

a.common:hover,
button.common:hover,
button.popup-button:hover {
  background-color: #0074E8;
  border:2px solid #0074E8;
  color:white;
}

button.danger:hover {
  border:2px solid red;
  background-color: red;
}

button.common:active,
button.popup-button:active {
  background-color: white;
  color:black;
}

button.danger:active {color: red;}

button.common:active,
button.popup-button {color: #0074E8;}

a.common:visited {color:black;}
a.common:visited:hover {color:white;}

div.horizontal {
  display:inline-block;
  margin-right:32px
}

div.popup-content {
  padding:16px;
  text-align:center;
}
