#msgzone-background {

	background-color:rgba(0, 0, 0, 0.5);

	z-index:999;
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;

}

@media screen and (orientation: landscape) {
	#msgzone-background {
		display:grid;
		grid-template-columns:1fr 0.75fr 1fr;
		grid-template-rows:1fr 1fr 1fr;
	}
}

@media screen and (orientation: portrait) {
	#msgzone-background {
		display:grid;
		grid-template-columns:0.75fr 1fr 0.75fr;
		grid-template-rows:1fr 1fr 1fr;
	}
}

#msgzone-outerbody {

	grid-column:2/3;
	grid-row:2/3;

	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	justify-content: center;

}

#msgzone-container {
	background-color: white;
	padding:8px;
	display:flex;
	flex-direction: column;
	gap:8px;
}

/*
	UNUSED
	div.msgzone-title
	div.msgzone-content
	div.msgzone-controls
	div.msgzone-button
*/
