div.popup-background {

	background-color:rgba(0, 0, 0, 0.5);

	z-index:999;
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;

}

@media screen and (orientation: landscape) {
	div.popup-background {
		display:grid;
		grid-template-columns:1fr 0.75fr 1fr;
		grid-template-rows:1fr 1fr 1fr;
	}
}

@media screen and (orientation: portrait) {
	div.popup-background {
		display:grid;
		grid-template-columns:0.75fr 1fr 0.75fr;
		grid-template-rows:1fr 1fr 1fr;
	}
}

div.popup-area {

	grid-column:2/3;
	grid-row:2/3;
}

/*
	OTHER
	div.popup-button
	div.popup-centered

*/
