div.form-inside-a-div > form,
#form-asset-to-order-lucky >details>div>form,
#form-new-order >form,
#form-new-asset > form,
#form-search-assets,
#form-search-assets > form,
#form-assets-to-excel > form {
  display:flex;
  flex-direction: column;
  gap:16px;
}

#form-assets-to-excel > form > div {
  display:flex;
  flex-direction: row;
  gap:8px;
  flex-wrap:wrap;
}

#form-run-or-revert-order > form {
  display:flex;
  flex-direction:row;
  gap:16px;
  align-items:center;
  justify-content: space-around;
}

#form-asset-editor > form > div.common,
#result-search-assets,
result-new-asset,
div.item-order,
div.item-asset,
div.order-info {
  display:flex;
  flex-direction:column;
  flex-wrap: nowrap;
  gap:8px;
}

div.input-date,
div.input-guarded {
  display:flex;
  flex-direction:column;
  gap:4px;
}

#main-menu > div >button.common {
  flex-grow: 1;
  width:128px;
  padding:16px;
}

#layout-assets-search button.common {
  align-self: end;
}

#logging {
	display:flex;
	flex-direction:column-reverse;
	font-family:monospace;
	max-height:128px;
	overflow-y:auto;
}