div.common, button.common, textarea.common, input.common {
  padding-top:6px;
  padding-bottom:6px;
  padding-left:12px;
  padding-right:12px;
  margin-bottom:8px;
  margin-top:8px;
  background-color: white;
  color:black;
}

button.common, input.common, textarea.common {border:2px solid;}
input.common, textarea.common {display:block;}
textarea.common {
  min-width:calc(100vw - 48px);
  max-width:calc(100vw - 48px);
}
div.common {border:1px solid;}

div.inner-controls {padding-top:32px;}
div.hcontainer {display:inline-block;margin-right:16px;}

div.popup-content {padding:16px;text-align:center;}
button.popup-button {
  padding-top:12px;
  padding-bottom:12px;
  padding-left:24px;
  padding-right:24px;
  margin-bottom:16px;
  border:2px solid;
  background-color: white;
  color:black;
}
button.common:hover, button.popup-button:hover {
  border:2px solid;
  border-color:blue;
}
button.common:active, button.popup-button:active {
  border:2px solid;
  border-color:blue;
  color:white;
  background-color:black;
}
